
.n-body {
	font-family: 'nixieregular',sans-serif;

  padding: 0;
  margin: 0;
  background: white;

#
}


@font-face {
    font-family: 'nixieregular';
		src: url('nixie-webfont.woff') format('woff2'),
		 url('nixie-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.begin{


margin-top:100px;
z-index:10000;
position: absolute;
margin-left:45%;
text-align: center;
}



.n-mars{
	z-index: 90;

  background: #C1272D;
	position: relative;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	padding-top: 100%;
	text-align: center;
	overflow: visible;
}
.right{
	text-align: right;
}

.n-sq{
	margin-top:1200px;
	margin-left:0px;
	z-index: 100;
	font-size: 4vw;
	position: absolute;
	top: 10%;
	width: 100%;
   height: 70%;
   background: ;
	 text-align: center;
	 overflow: visible;
}

.n-sq2{
	margin-top:800px;
	margin-left:0px;
	z-index: 100;
	font-size: 1.8vw;
	position: absolute;
	top: 10%;
	width: 100%;
   height: 70%;
   background: ;
	 text-align: center;
	 overflow: visible;
	 line-height: 2.6;
}

a{
	color:black;
	text-decoration:none;
}



.n-pagesize{
	position: relative;
	width: 100%;
   height: 22680px;
   background: ;
	 color: white;
	 background-image: url("stars.jpg");
	 background-repeat: repeat;
	 scale:100%;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

}
.parallax__layer {
  position: absolute;
	top: 0;
  right: 0;
  bottom: 0;
  left: 0;


}


.parallax__layer--base {
  transform: translateZ(-0.5px) ;
	z-index:50;
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
	z-index:50;
}

.parallax__layer--back2 {
  transform: translateZ(-1.5px) scale(2);
	z-index:50;
}

.parallax__layer--back3 {
  transform: translateZ(0.1px) scale();
	z-index:50;
}

.parallax__layer--back4 {
  transform: translateZ(-5px);
	z-index:50;

}

.blend{
 mix-blend-mode: overlay;
}


.redbox{
	background: #ad0008;
	height: 600px;
	width:600px;
	margin-left:55%;
	margin-top:3500px;
	position: absolute;

}

.redcircle{
	background: #ad0008;
	height: 245px;
	width:245px;
	margin-left:44px;
	margin-top:4720px;
	position: relative;
	border-radius: 50%;
	mix-blend-mode: lighten;
}

.redcircle2{
	background: #ad0008;
	height: 205px;
	width:1705px;
	transform: rotate(-30deg);
	margin-left:250px;
	margin-top:4600px;
	position: relative;
	mix-blend-mode: lighten;
}

.redoverlay3{
	background: #ad0008;
	height: 205px;
	width:1205px;

	margin-left:250px;
	margin-top:4600px;
	position: relative;
	mix-blend-mode: lighten;
}

.redoverlay4{
	background: #ad0008;
	height: 205px;
	width:1205px;

	margin-left:250px;
	margin-top:1150px;
	position: relative;
	mix-blend-mode: lighten;
}

.redoverlay5{
	background: #ad0008;

	height:105px;
	width: 405px;
	border-radius: 50%;
	margin-left:-800px;
	margin-top:-400px;
	position: relative;
	mix-blend-mode: lighten;
}


.redoverlay6{
	background: #ad0008;
	transform: rotate(-45deg);
	height: 105px;
	width:605px;

	margin-left:-1000px;
	margin-top:	-400px;
	position: relative;
	mix-blend-mode: lighten;

}

.ship{
	z-index:89;
	position: sticky;
	bottom:-100px;
	margin-left:45%;
	overflow: hidden;
}


.spacer{
	z-index: 1;
	position: absolute;
	width: 100%;
   height: 5000px;
background:;
overflow: hidden;
bottom: -21760px;
}

.container{
	z-index: 90;
	top:0%;
	position: absolute;
	width: 100%;
	height: auto;
	text-align: center;
	overflow: visible;
}

.n-black{
	z-index: 30;
	position: absolute;
	width: 100%;
   height: 50%;
	 background: black;
	 top:0px;
	 overflow: hidden;



}

.n-gradientmars{
	position: absolute;
	overflow: hidden;
	z-index: 20;
	top: -800%;
	left: -100%;
	width: 300%;
   height: 1500%;
	 background: rgb(188,149,94);
	 background: radial-gradient(circle, rgba(188,149,94,1) 0%, rgba(193,139,113,1) 27%, rgba(27,20,55,1) 60%, rgba(0,0,0,0) 88%);

}

.n-gradientearth{
	bottom:100px;
	position: relative;
	z-index: 20;

	width: 300%;
   height: 100%;
	 left:-100%;

	 /* background: radial-gradient( circle, rgba(0,113,188,1) 26%, rgba(27,20,100,1) 56%, rgba(0,0,0,0) 88%); */
	 background:
    radial-gradient(
      circle at bottom center,
      rgba(0,113,188,1) 40%,
			rgba(27,20,100,1) 65%,
			rgba(0,0,0,0) 80%);
	 overflow:visible;
}

.n-earth{
	z-index:50;
  background: #006837;
	position: relative;
	top: 95%;
	left:-20%;
	border-radius: 50%;
	width: 140%;
	height: auto;
	padding-top: 100%;
	text-align: center;
}

.sput--border{
	width:100%;
	height:120vh;
	margin-top:-2750px;
	z-index: 20;
	position: absolute;
	overflow: hidden;
}

.sputimg {
	margin-left: 300px;
	position:absolute;
	width:30%;
	background: ;
	color: #1BB700;
	line-height: 2.6;
}

.sputspin {
    position: absolute;
    top: 600px;
    left: 100px;
    width: 90%;
		background:;
    -webkit-animation:spin 30s linear infinite;
    -moz-animation:spin 30s linear infinite;
    animation:spin 30s linear infinite;
		transform: rotate();
		overflow:visible;
		z-index:90;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.sputspin:after {
  content: "";
  display: block;
  padding-bottom: 90%;
}

.sputmotion{
width:200px;
height:200px;
transform: rotate(-40deg);
}

.sputmotion2{
width:200px;
height:200px;
transform: rotate(130deg);
bottom: 0;
position: absolute;
right: 0;
}

/* .sputmotion3{
width:200px;
height:200px;
transform: rotate(40deg);
top: 0;
position: absolute;
right: 0;
}

.sputmotion4{
width:200px;
height:200px;
transform: rotate(230deg);
bottom: 0;
position: absolute;
left: 0;
} */

.textbox{
	position:absolute;
	height:auto;
	width:auto;
	background: ;
	color: #1BB700;
	line-height: 2.6;



}


.margin1{
	margin-top:8000px;
	margin-left:200px;
}

.margin2{
	margin-top:8000px;
	right:200px;
}

.margin3{
	margin-top:9800px;
	margin-left:0px;
}

.margin4{
	margin-top: 5500px;
	margin-left: 45%;
}

.margin5{
	margin-top: 9500px;
	margin-left: 00px;
}

.margin6{
	margin-top: 2500px;
	margin-left: 1000px;
}

.margin7{
	margin-top: 1000px;
	margin-left: 00px;
}

.shadow{
	filter: drop-shadow(0px 0px 0.1px white);
	margin-left: 0px;

}

.shadow2{
	filter: drop-shadow(0px 0px 1px white);
	margin-left: 0px;
}

.shadowblack{
	filter: drop-shadow(0px 0px 1px black);
	margin-left: 0px;
}

.sputinfo{
	transform: rotate(-30deg);
	position:relative;
	Height: 100px;
	width:5px;
	background:#1BB700;
	margin-top:-320px;
	margin-left: 100px;
	border-radius: 5px 5px 5px 5px;
}

.sputinfo2{
	transform: rotate(0deg);
	position:relative;
	Height: 100px;
	background: ;
	width:5px;
	background:#1BB700;
	margin-top:-200px;
	margin-left: 190px;
	border-radius: 50px 50px 50px 50px;
	overflow:visible;
}


p{
	color:#1BB700;
}

h1{
	line-height: 0;
}

.yuri{
height:270px;
width:auto;
margin-left:335px;
margin-top:-500px;

}

img{
max-width: 100%;
max-height: 100%;
}

.science1{
height:100%;
width:100%;
z-index: 46;

}

.science2{
height:40%;
width:40%;
z-index: 46;
margin-top:2200px;
margin-left: 1000px;

}

.cursor {
	postion:relative;
	font-weight: 100;
  font-size: 17px;
  color: #1BB700;
	-webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #1BB700;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #1BB700;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #1BB700;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #1BB700;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #1BB700;
  }
}
